# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Editor/IDE
.vscode/
.idea/
*.swp
.DS_Store

# Simulation Data Files
simulations/cavity_flow/outputs/
*.npz
*.csv

# Specific venvs
venv_metal/
venv_vis/
